.footer {

    .lastSection {
        height: 342px;
        background-color: #ececec;

        .section {
            width: 960px;
            display: flex;
            flex-direction: row;
            align-content: space-between;
            margin: auto;
            padding-top: 60px;

            .infoLast {
                width: 960px;
                display: flex;
                align-content: space-around;

                .none{
                    display: none;
                }
                
                .pig{
                    font-size: 22px;

                    .style{
                        color: grey;
                        margin-left: -5px;
                    }
                }

                h1{
                    color: #404040;;
                }

                p {
                    color: gray;
                    font-size: 15px;
                    line-height: 24px;
                    word-wrap: break-word;
                    padding-right: 40px;
                    margin-top: 5px;
                }

                .i{
                    color: lightgray;
                    font-family: Georgia, 'Times New Roman', Times, serif;
                    margin: 5px 0;
                    
                }
            }

        }
    }

    .last {
        width: 100%;
        height: 100%;
        background-image: url(img/bg_copy.png);

        .menuLast {
            width: 960px;
            display: flex;
            flex-direction: row;
            margin: auto;
            padding: 50px 0;

            ul {
                display: flex;
                flex-direction: row;

                li {
                    list-style-type: none;
                    padding: 0 50px 0 0;

                    a {
                        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
                        color: #ffffff;
                        font-size: 24px;
                        line-height: 33.72px;
                        text-decoration: none;
                        text-transform: uppercase;
                    }

                    a:hover {
                        border-bottom: 3px solid #edbfff;
                    }
                }

            }

            .design {
                p {
                    color: white;
                    margin-left: 100px;
                    padding-top: 5px;
                }
            }
        }
    }
}