@import 'header';
@import 'main';
@import 'footer';

@font-face {
    font-family: "Open Sans";
    src: url(fonts/OpenSans-SemiBold);
}

@font-face {
    font-family: "Open Sans Bold";
    src: url(fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'LeagueGothic-Regular';
    src: url(fonts/leaguegothic-regular-webfont.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
}


h1,
h2,
h3,
li {
    font-family: "LeagueGothic-Regular";
    font-weight: normal;
}

p {
    font-family: "Open Sans";
}


@media screen and (max-width: 980px) {

    .header {
        width: 100%;
        background-position: -735px -490px;


        .navbar {
            width: 768px;
            display: flex;
            flex-direction: column;

            .menu {
                width: 700px;
                display: flex;
                margin: 20px 0;

                li {
                    padding: 0 50px 0 0;
                }
            }
        }

        .info {
            margin: 100px 0 50px 0;

            .s {
                width: 22px;
                height: 34px;
                margin: 180px 30px;
            }

            .infoText {
                width: 340px;
                height: 231px;
                margin: 90px 3px;


                h1 {
                    color: #fefefe;
                    font-size: 48px;
                    line-height: 36px;
                    letter-spacing: 1px;
                    margin-bottom: 10px;
                    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
                }

                h2 {
                    color: #edbfff;
                    font-size: 24px;
                    line-height: 36px;
                    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
                }

                p {
                    width: 320px;
                    height: 90px;
                    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
                    color: #ffffff;
                    font-size: 16px;
                    font-weight: 300;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

            }

            .image {
                z-index: 1;
                padding: 0;

                .first {

                    img {
                        margin: -30px 0 0 -50px;
                        z-index: 5;
                    }


                    .play {
                        margin: -250px 0 0 62px;
                    }
                }

                .second {

                    img {
                        margin: 51px 0 0 -80px;
                        z-index: 4;
                    }

                }
            }


        }

        .dots {
            margin: auto;
            display: flex;
            justify-content: center;

            .source {
                margin-bottom: 30px;
            }
        }



    }

    .main {
        .container {
            .contentAbout {
                width: 100%;
                height: 342px;

                .block {
                    width: 768px;

                    .blockAbout {

                        .none {
                            display: flex;
                            width: 24px;
                            height: 25px;
                            margin: 2px 20px 0 0;

                        }

                        .show {
                            display: none;
                        }

                        .about {
                            width: 160px;

                            p {
                                height: 140px;
                                text-shadow: 1px 1px 0 #0f1518;
                                color: lightgray;
                                font-size: 16px;
                                line-height: 24px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }

                            h1 {
                                font-size: 24px;
                            }
                        }
                    }
                }
            }

            .contentMain {
                .mainInfo {
                    width: 768px;

                    .infoMain {
                        width: 350px;

                        .size {

                            .news {
                                height: 170px;

                                .first {
                                    height: 50px;
                                    margin-bottom: 10px;

                                    .source {
                                        width: 70px;
                                        height: 60px;
                                        margin: 0 6px 15px 0;
                                    }

                                    .infoNews {
                                        p {
                                            width: 240px;
                                            height: 20px;
                                        }
                                    }


                                }

                            }
                        }

                    }

                    .startsHere {
                        .block {
                            width: 313px;
                            height: 272px;
                        }
                    }

                    p {
                        height: 135px;
                        font-size: 15px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    h1 {
                        font-size: 24px;

                        .pink {
                            margin-left: 0;
                            display: flex;
                            flex-direction: column;
                        }
                    }

                    .size768px {
                        display: block;
                    }

                    .size768px:hover {
                        text-shadow: 1px 1px 8px gray;
                    }

                    .h {
                        display: none;
                    }

                    .dots {
                        .source {
                            margin: 75px 0 0 -15px;
                        }
                    }

                }

            }


            .color {
                .partners {
                    width: 768px;

                    .img1 {
                        margin: 0 25px 0 0;
                    }

                    .img5 {
                        width: 120px;
                    }
                }
            }

        }
    }

    .footer {

        .lastSection {

            .section {
                width: 768px;

                .infoLast {
                    width: 768px;

                    .hide {
                        display: none;
                    }

                    .none {
                        display: block;
                    }



                    p {
                        height: 170px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                }

            }
        }

        .last {
            background-repeat: no-repeat;
            background-image: url(img/bg_copy1.png);

            .menuLast {
                width: 768px;
                display: flex;
                flex-direction: column;

                ul {
                    display: flex;
                    flex-direction: row;

                    li {
                        padding-right: 40px;

                        a {
                            font-size: 20px;
                        }


                    }

                }

                .design {
                    p {
                        margin-left: 600px;
                        padding-top: 20px;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 789px) {

    .header {
        width: 100%;
        background-position: -1000px -470px;


        .navbar {
            width: 480px;
            display: flex;
            flex-direction: column;

            .logo {

                h1 {
                    margin: 70px 150px 15px 150px;
                }

            }

            .menu {
                display: flex;
                flex-direction: column;
                width: 244px;
                display: flex;
                margin: auto;

                li {
                    padding: 0;
                    text-align: center;

                }

                #about {
                    display: none;
                }

                #blog {
                    display: none;
                }

                #products {
                    display: none;
                }

                #loremIpsum {
                    display: none;
                }

                #dolor {
                    display: none;
                }

                li:hover {
                    width: 244px;
                    height: 257px;
                    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
                    border: 1px solid #051116;
                    background-color: #36293e;
                    opacity: 0.9;
                    border-radius: 10px;
                    display: ruby;
                    z-index: 10;


                    #about {
                        display: inline;
                    }

                    #blog {
                        display: none;
                    }

                    #products {
                        display: none;
                    }

                    #loremIpsum {
                        display: none;
                    }

                    #dolor {
                        display: none;
                    }


                }
            }
        }

        .info {
            height: 246px;
            margin: 60px 0 50px 0;

            .infoNav {
                width: 480px;
            }

            .s {
                width: 22px;
                height: 34px;
                margin: 106px auto;
            }

            .infoText {
                width: 201px;

                h1 {
                    font-size: 36px;
                    margin-bottom: -5px;
                }

                h2 {
                    font-size: 18px;
                    height: 30px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                p {
                    display: none;
                }

            }

            .image {
                width: 210px;
                z-index: 1;
                padding: 0;

                .first {

                    img {
                        width: 140px;
                        margin: -13px 0;

                        .play {

                            #playVideo {
                                margin: 36px 0 0 -30px;
                                width: 20px;
                            }

                        }

                    }

                }

                .second {

                    img {
                        margin: 40px -35px 0 0;
                        z-index: 4;
                        width: 90px;
                    }

                }
            }


        }

        .dots {
            margin: auto;
            display: flex;
            justify-content: center;

            .source {
                margin-bottom: 30px;
            }
        }



    }

    .main {
        .container {
            .contentAbout {
                width: 100%;
                height: 598px;

                .block {
                    width: 450px;
                    display: flex;
                    flex-direction: column;

                    .blockAbout {
                        margin: 5px auto;

                        .about {
                            width: 400px;

                            p {
                                width: 395px;
                                height: 80px;
                            }
                        }
                    }
                }
            }

            .contentMain {
                height: 760px;

                .mainInfo {
                    width: 480px;
                    display: flex;
                    flex-direction: column;

                    .infoMain {
                        width: 350px;

                        .size {
                            margin: 90px 0 0 76px;

                            .news {
                                height: 170px;

                                .first {
                                    height: 50px;
                                    margin-bottom: 10px;

                                    .source {
                                        width: 70px;
                                        height: 60px;
                                        margin: 0 6px 15px 0;
                                    }

                                    .infoNews {
                                        p {
                                            width: 240px;
                                            height: 18px;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                        }
                                    }


                                }

                            }
                        }

                    }


                    .startsHere {
                        height: 270px;
                        display: flex;
                        flex-direction: row;

                        .block {
                            width: 430px;
                        }
                    }

                    p {
                        overflow: visible;
                    }

                    h1 {
                        display: flex;
                        flex-direction: row;
                        color: #404040;
                        font-size: 30px;
                        margin-bottom: 10px;

                        .pink {
                            color: #eec2ff;
                            margin-left: 3px;
                        }
                    }

                    .size768px {
                        display: block;
                    }

                    .size768px:hover {
                        text-shadow: 1px 1px 8px gray;
                    }

                    .h {
                        display: none;
                    }

                    .dots {
                        .source {
                            margin: 95px 0 0 -15px;
                        }
                    }

                }

            }


            .color {
                .partners {
                    width: 450px;
                    height: 222px;
                    display: flex;
                    flex-flow: wrap;


                    .img1 {
                        height: 80px;
                        margin: 0 25px 0 60px;
                    }

                    .img5 {
                        width: 120px;
                    }
                }
            }

        }
    }

    .footer {

        .lastSection {
            height: 670px;

            .section {
                width: 480px;
                display: flex;
                flex-direction: column;

                .infoLast {
                    width: 480px;

                    .hide {
                        display: none;
                    }

                    .none {
                        display: block;
                    }


                    p {
                        height: 100px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin-bottom: 40px;
                    }

                }

            }
        }

        .last {
            background-repeat: no-repeat;
            background-image: url(img/bg_copy1.png);

            .menuLast {
                width: 480px;
                display: flex;
                flex-direction: column;

                ul {
                    display: flex;
                    flex-direction: row;
                    margin: auto;

                    li {
                        padding-right: 28px;

                        a {
                            font-size: 20px;
                        }


                    }

                }

                .design {
                    p {
                        width: 140px;
                        margin-left: 150px;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 498px) {

    .header {

        height: 600px;

        .navbar {
            width: 300px;

            .logo {
                margin-top: 70px;

                h1 {
                    margin: auto;
                    width: 300px;
                    text-align: center;
                }
            }

            .menu {
                margin: 20px auto;
            }
        }

        .info {
            height: 0;
            margin: 50px 0 180px 0;

            .infoNav {
                width: 300px;
            }

            .s {
                width: 22px;
                height: 34px;
                margin: 50px auto;
            }

            .infoText {
                width: 201px;
                margin: 47px auto;
            }

            .image {
                display: none;
            }

        }



    }

    .main {
        .container {
            .contentAbout {
                width: 100%;

                .block {
                    width: 300px;

                    .blockAbout {
                        width: 300px;
                        margin: 5px auto;

                        .about {
                            width: 270px;

                            p {
                                width: 220px;
                                height: 70px;
                                font-size: 16px;
                            }

                            h3 {
                                width: 100px;
                                padding-left: 10px;
                            }
                        }
                    }
                }
            }

            .contentMain {
                height: 760px;

                .mainInfo {
                    width: 300px;
                    display: flex;
                    flex-direction: column;

                    .infoMain {
                        width: 320px;

                        h1 {
                            font-size: 24px;
                        }

                        .bigger{
                            font-size: 30px;
                        }
                        .size {
                            margin: 90px auto;

                            .news {
                                height: 170px;

                                .first {
                                    height: 50px;
                                    margin-bottom: 10px;

                                    .source {
                                        width: 55px;
                                        height: 60px;
                                        margin: 0 6px 15px 0;
                                    }

                                    .infoNews {

                                        p {
                                            width: 200px;
                                            height: 18px;
                                            overflow: hidden;
                                            text-overflow: ellipsis;

                                        }

                                        .b {
                                            width: 135px;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                        }
                                    }


                                }

                            }
                        }

                    }


                    .startsHere {
                        height: 270px;
                        display: flex;
                        flex-direction: row;

                        .block {
                            width: 256px;
                            height: 272px;
                        }
                    }

                    p {
                        width: 190px;
                        height: 140px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    h1 {
                        display: flex;
                        flex-direction: column;
                        color: #404040;
                        font-size: 24px;
                        margin-bottom: 10px;

                        .pink {
                            color: #eec2ff;
                            margin-left: 0;
                        }
                    }

                    .size768px {
                        display: block;
                    }

                    .size768px:hover {
                        text-shadow: 1px 1px 8px gray;
                    }

                    .h {
                        display: none;
                    }

                    .dots {
                        width: 88px;
                        .source {
                            margin: 70px 0 0 0px;
                        }
                    }

                }

            }

            hr{
                border: 0.5px solid white;
            }

            .color {
                .partners {
                    width: 320px;
                    height: 370px;
                    display: flex;
                    flex-flow: wrap;

                    .img1{
                        height: 62px;
                        margin: 0 20px 37px 56px;
                    }

                    .img2 {
                        height: 65px;
                    }

                    .img3{
                        margin: -30px 29px 5px 60px;
                    }

                    .img4 {
                        margin: -30px 29px 5px 20px;
                    }

                    .img5 {
                        width: 110px;
                        margin: 47px 8px 25px 20px;
                    }

                    .img6 {
                        width: 110px;
                        height: 70px;
                        margin: 40px 8px 25px 45px;
                    }
                }
            }

        }
    }

    .footer {

        .lastSection {
            display: none;
        }

        .last {
            background-repeat: no-repeat;
            background-image: url(img/bg_copy1.png);

            .menuLast {
                width: 300px;

                ul {
                    display: none;
                }

                .design {
                    p {
                        width: 150px;
                        margin: auto;
                    }
                }
            }
        }
    }
}